@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "reset";

$ff: "Inter", sans-serif;
$bgColor: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);


body {
  font-family: $ff;
  background: $bgColor;
}

.container {
  width: 1140px;
  margin: auto;
}


//HEADER
#header {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;

    &__menu {
      &--item {
        margin: 0 10px;
        font-size: 12px;
        line-height: 20px;
        /* identical to box height, or 167% */

        letter-spacing: 2px;
        text-transform: uppercase;

        /* Text */

        color: #B5B5B5;
        text-decoration: none;


      }
    }

    &__btn {
      margin: 0 10px;
    }

    &__btn--left {
      border: 1px solid #F2994A;
      box-sizing: border-box;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      background: none;
      padding: 5px 8px;

      /* Base */

      color: #F2994A;
    }

    &__btn--right {
      background: #F2994A;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      border-radius: 3px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 5px 8px;
      border: none;

      color: #FFFFFF;

    }
  }
}
//HEADER

//HERO
#hero {
  .hero {

    &__title {
      font-size: 44px;
      line-height: 50px;
      /* or 114% */


      /* T2 */

      color: #99EFD0;
      padding-top: 100px;

    }

    &__subtitle {
      font-size: 18px;
      line-height: 22px;
      /* or 122% */


      /* T1 */

      color: #8476AA;
      padding-top: 30px;
    }

    &__button--left {
      background: #F2994A;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      border-radius: 3px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 8px 8px;
      border: none;
      margin-top: 30px;


      color: #FFFFFF;

    }

    &__button--right {
      border: 1px solid #F2994A;
      box-sizing: border-box;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 8px 40px;
      background: none;

      /* Base */

      color: #F2994A;

    }


    &__fot {
      display: flex;
      justify-content: flex-end;
      margin-top: -290px;
    }

    &__video {

      margin-bottom: 100px;
      margin-top: -190px;

    }

    &__block {
      display: flex;
      justify-content: center;
      margin-right: 365px;
      margin-top: -80px;
      font-size: 16px;
      color: #8476AA;
    }

    &--mask {
      position: absolute;
      margin: 20px -87px;
    }

  }

}
//HERO

//Java
#java {
  .end {
    &__block {
      display: flex;

      &__items {
        margin: 0 5%;
        color: #FFFFFF;
        padding-bottom: 10%;
      }
    }
  }

  .text {
    &__title {
      display: flex;
      justify-content: center;
      font-size: 42px;
      line-height: 50px;
      /* identical to box height, or 119% */

      text-align: center;

      /* T2 */

      color: #99EFD0;
      margin-bottom: 2%;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
      /* identical to box height, or 137% */

      text-align: center;

      /* T1 */

      color: #8476AA;

    }
  }

  .new {
    margin: 20px 0;

    &__title {
      font-size: 18px;
      line-height: 22px;
      /* identical to box height, or 122% */


      /* T2 */

      color: #99EFD0;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 22px;
      /* or 157% */


      /* T1 */

      color: #8476AA;


    }

  }


}
//Java

//Center
#center {
  .center {
    .word {
      &__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        /* or 119% */


        /* T2 */

        color: #99EFD0;
        margin-top: 60px;

      }

      &__subtitle {
        font-size: 15px;
        line-height: 28px;
        /* or 187% */

        letter-spacing: 0.5px;

        /* T1 */

        color: #8476AA;
        margin-top: 30px;
        margin-bottom: 40px;

      }

      &__button {
        background: #F2994A;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
        border-radius: 4px;
        font-weight: 550;
        font-size: 12px;
        line-height: 40px;
        /* identical to box height, or 167% */

        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: none;
        margin-top: 20px;


        color: #FFFFFF;
      }

      &__slide {
        display: flex;
        justify-content: flex-end;
        margin-top: -280px;
        left: 40px;
      }

      //&__slides {
      //  display: flex;
      //  margin-top: -290px;
      //  margin-left: 64%;
      //  margin-bottom: 16%;
      //
      //}

      &__slides1 {
        display: flex;
        margin-top: -173px;
        margin-left: 76%;
        margin-bottom: 16%;
      }

      &__slides2 {
        display: flex;
        margin-top: -290px;
        margin-left: 82%;
        margin-bottom: 16%;
      }

    }

  }

}
//Center

//Media
#media {
  .media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title {
      display: flex;
      font-size: 36px;
      line-height: 42px;
      /* or 117% */

      text-align: center;

      //letter-spacing: 0.33px;

      /* T2 */

      color: #99EFD0;


    }

    &__subtitle {
      display: flex;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      /* or 133% */

      //letter-spacing: 0.2px;

      /* T1 */
      margin-top: 60px;
      align-items: center;
      color: #8476AA;


    }
  }

  .car {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;

    &_cart {
      width: 300px;
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
      /* identical to box height, or 117% */

      text-align: center;
      letter-spacing: 0.33px;

      /* T2 */

      color: #99EFD0;
    }

    &_subtitle1 {
      font-size: 15px;
      line-height: 20px;
      /* or 133% */

      text-align: center;
      letter-spacing: 0.2px;

      /* T1 */


      color: #8476AA;

    }


  }
}
//Media


//Tag
#text {
  .tag {
    &__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      /* or 119% */

      text-align: center;

      /* T2 */

      color: #99EFD0;
      margin-top: 50px;
    }

    &__btn {
      display: flex;
      font-weight: 500;
      font-size: 12px;
      line-height: 40px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #F2994A;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
      border-radius: 5px;
      border: none;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      margin-top: 70px;
    }

    &__img {
      margin-top: -80px;
      margin-left: -40px;

    }

  }

}
//Tag

//LAST
#main {
  .last {
    &__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 60px;
      /* or 119% */


      /* T2 */

      color: #99EFD0;
      margin-bottom: 80px;
      margin-top: 75px;
    }

    &__subtitle {
      font-size: 15px;
      line-height: 28px;
      /* or 187% */

      letter-spacing: 0.5px;

      /* T1 */

      color: #8476AA;
      margin-top: 100px;

    }

    &__btn {
      font-weight: 500;
      font-size: 12px;
      line-height: 28px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;

      color: #FFFFFF;

      background: #F2994A;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
      border-radius: 3px;
      border: none;
    }

    &__slide {
      display: flex;
      margin-top: -391px;
      margin-left: 600px;
      margin-bottom: 16%;
    }

    &__block {
      display: flex;
      margin-left: 600px;
      width: 259px;
      height: 200px;
      margin-top: -178px;
      background: #FFFFFF;
      margin-bottom: 16%;
    }

    &__img {
      display: flex;
      margin-top: -520px;
      margin-left: 45%;
      margin-bottom: 16%;
    }

    &__img1 {
      display: flex;
      margin-top: -290px;
      margin-left: 52%;
      margin-bottom: 50%;
    }

    //&__img2 {
    //  display: flex;
    //  margin-top: -415px;
    //  margin-left: 859px;
    //  height: 58px;
    //  width: 110px;
    //  background: #516EA9;
    //  margin-bottom: 24%;
    //  border-radius: 5px;
    //}


  }


}
//LAST


//DADa
#DaDA {
  .head {

    margin-left: 500px;

    &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      /* identical to box height, or 123% */

      letter-spacing: 0.325px;

      /* T2 */

      color: #99EFD0;
    }

    &__subtitle {
      font-size: 15px;
      line-height: 20px;
      /* or 133% */

      letter-spacing: 0.2px;

      /* T1 */

      color: #8476AA;
      margin-top: 40px;

    }

    &__title1 {
      //display: flex;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.2px;

      /* T2 */

      color: #99EFD0;

    }

    &__subtitle1 {
      font-size: 15px;
      line-height: 20px;
      /* or 133% */

      letter-spacing: 0.2px;

      /* T1 */

      color: #8476AA;

    }

    &__logo {
      display: flex;
      margin-top: -328px;
    }

  }
}
//DADa


//Hidden
#hidden {
  .open {
    background: rgba(60, 62, 125, 0.19);
    border-radius: 10px;
    margin-top: 100px;
    height: 200px;

    &__title {
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      /* identical to box height, or 119% */

      text-align: center;

      /* Base */

      color: #F2994A;


    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
      /* or 137% */

      text-align: center;

      /* Neutral 4 */

      color: #95A1BB;

    }

    &__inputs {
      display: flex;
      justify-content: center;
    }

    input[type='email'] {
      background: #F6F6F6;
      opacity: 0.1;
      border-radius: 5px 0;
      height: 35px;
    }

    .last__btn {

      //font-weight: 495;
      font-size: 12px;
      line-height: 11px;
      /* identical to box height, or 167% */

      text-align: center;
      letter-spacing: 9px;
      text-transform: lowercase;
      margin-left: -2px;

      color: #FFFFFF;
      background: #F2994A;
      border-radius: 0 5px 5px 0;
      border: none;
      padding: 10px;
    }

    .last__text {
      display: flex;
      justify-content: center;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      letter-spacing: 0.2px;

      /* T1 */

      color: #8476AA;
      margin-top: 25px;


    }

  }

}
//Hidden


//Footer
#footer {
  .finish {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      /* identical to box height, or 123% */

      letter-spacing: 0.325px;

      /* Base */

      color: #F2994A;
      margin-top: -30px;


    }

    &__title {
    }

    &__title1 {

      width: 90%;
      //margin-top: 50px;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.2px;

      color: #FFFFFF;
      margin-top: -20px;
    }


  }

}
.footer__items {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 50px;
}
//Footer
